<div class="h-full flex flex-col">
      <h3 class="text-lg font-semibold text-gray-900 mb-4">Producteurs Sélectionnés</h3>
      <p-listbox
        [options]="data()"
        optionLabel="producerName"
        (onChange)="onSelectionChange($event)"
        [style]="{ 'height': '100%' }"
        styleClass="w-full"
      >
        <ng-template let-option pTemplate="item">
          <div class="flex items-center justify-between w-full">
            <span class="text-sm text-gray-700">{{ option.producerName }}</span>
            <p-tag
              [value]="option.status"
              [severity]="getSeverity(option.status)"
            ></p-tag>
          </div>
        </ng-template>
      </p-listbox>
    </div>